<nav class="navbar navbar-expand-sm  bg-dark nav-white">
    <ul class="navbar-nav">

       <li class="nav-item"> 
           <a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a>
       </li>

       <li class="nav-item">
        <a routerLink="/category" routerLinkActive="active" class="nav-link">Category</a>
        </li>

        <li class="nav-item">
        <a routerLink="/supplier" routerLinkactive="active" class="nav-link">Suppliers</a>
        </li>

        <li class="nav-item">
            <a routerLink="/customer" routerLinkactive="active" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
            <a routerLink="/orders" routerLinkactive="active" class="nav-link">Orders</a>
        </li>
        
        
        
    


     <li class="nav-item">

        <a routerLink="/login" routerLinkActive="active" class="nav-link"><button class="btn-success"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button></a>
     </li>

     
     </ul>
    
</nav>
<div class="image">
<div class="search-container my-4">
   <label><h2>Search</h2></label>
    <input type="text" class="form-control" name="name" 
    [(ngModel)]="name" (ngModelChange)="search()" placeholder="Search your products">
    
</div>

<p><b></b></p>
<h3 class="bg-primary"><b>ALL Products</b></h3>
</div>
<a routerLink="/create-product" routerLinkActive="active"class="nav-link"><button class="btn-danger">ADDNew</button></a>

<div class="col-md-9">
    
    <div>
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>quantity</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
             <tbody>
                   <tr *ngFor="let product of products">
                       <td>{{product.id}}</td>
                       <td>{{product.name}}</td>
                      <td>{{product.quantity}}</td>
                       <td>{{product.madein}}</td>
                       <td>{{product.brand}}</td>
                       <td>{{product.price}}</td>
                      
                       <td style="color: green;">{{product.status}}</td>
                       
            
     <td> <button class="btn-success" style="height: 30px;"><i (click)="updateproduct(product.id)" class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
    <td><button class="btn-danger" style="height: 30px;"><i (click)="deleteproduct(product.id)" class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    <td><button class="bg-primary" style="height: 30px;"><i (click)="productdetails(product.id)" class="fa fa-eye" aria-hidden="true"></i></button></td>
                    
                   </tr>
             </tbody>
        </table>
    </div>
</div>



