<nav class="navbar navbar-expand-sm  bg-dark nav-white">
    <ul class="navbar-nav">
      <li class="nav-item"> 
        <a routerLink="/products" routerLinkActive="active" class="nav-link" style="margin-top: 20px;">Products</a>
    </li>
  

      <li class="nav-item">
         <a routerLink="/category" routerLinkActive="active" class="nav-link" style="margin-top: 20px;">Category</a>
         </li>
       <li class="nav-item">
          <a routerLink="/supplier" routerLinkActive="active" class="nav-link" style="margin-top: 20px;">Suppliers</a>
          </li>
          <li class="nav-item">
            <a routerLink="/customer" routerLinkActive="active" class="nav-link" style="margin-top: 20px;">Customers</a>
            </li>
            <li class="nav-item">
              <a routerLink="/orders" routerLinkActive="active" class="nav-link" style="margin-top: 20px;">Orders</a>
              </li>
  
       <li class="nav-item">
         <a routerLink="/login" routerLinkActive="active" class="nav-link"><button class="btn-success"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></button></a>
     </li>
     
     </ul>
    </nav>
  
  <div class="container">
    <div class="row">
    <div class="col-md-9">
    <div>
         <div class="text-center">
            
             </div>
         <form (ngSubmit)="OnSubmit()" #categoryedit="ngForm">
            
            <div>
               <label>Name</label>
               <input type="text" class="form-control" id="name"
               [(ngModel)]="category.name" name="name"
               placeholder="Enter  name"
                 required #name="ngModel"
                 [class.is-invalid]="name.invalid && name.touched">
           <small class="text-danger"[class.d-none]="name.valid || name.untouched">name is required</small>
           
            </div>
           
          
             <button   type="submit" class="btn btn-primary">Submit</button>
             
         </form>
         
      </div>
     </div>
  </div>
  </div>
  
